{% extends 'admin/layout/layout.twig' %}
    {% block head %}
    <title> {{ title }} </title>
    {% endblock %}
{% block content %}
{% if q.success %}
    <div class="alert alert-success alert-dismissible fade show">
        Le combattant a bien été créé
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

{% if q.delete %}
<div class="alert alert-danger alert-dismissible fade show">
    Le combattant a bien été supprimé
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
<h2>Gestion des combattants UFC </h2>
<hr>
<form action="" class="mb-4">
    <div class="form-group">
        <input type="text" class="form-control" name="q" placeholder="Recherche de combattant" value="{{ q.q ? q.q }}">
    </div>
    <button class="btn btn-secondary">Rechercher</button>
</form>
<table class="table rounded table-hover">
    <thead>
        <th class="align-middle">Nom</th>
        <th class="align-middle">Catégorie poids (livres)</th>
        <th class="align-middle">VICTOIRE</th>
        <th class="align-middle">DEFAITE</th>
        <th class="align-middle">NUL</th>
        <th class="align-middle">ANNULE</th>
        <th><a href="{{ router.url('fighter_new') }}" class="btn btn-sm btn-outline-dark">Nouveau</a></th>
    </thead>
    <tbody>
      {% for fighter in fighters %}
          {% include 'admin/fighters/_fighterTable.twig' %}
      {% endfor %}
    </tbody>
</table>
<aside class="text-center mb-5">
    {{ pagination.previousLink(link)|raw }}
    {{ pagination.nextLink(link)|raw }}
</aside>

{% endblock %}
