<div class="card shadow p-2 mb-4 bg-white rounded">
    <div class="card-body">
        <div class="container p-0">
            <h3 class="card-title"><a href="{{ router.url('article', {'id': post.getID(), 'slug': post.getSlug()}) }}" class="text-decoration-none text-dark fw-bold">{{ post.getName() }}</a></h3>
        <hr>
            {% if post.getImage() %}
                <a href="{{ router.url('article', {'id': post.getID(), 'slug': post.getSlug()}) }}"><img src="{{ post.getimageURL('large') }}" alt="{{ post.getName() }}" class="card-img-top mb-3 rounded"></a>
            {% endif %}
        </div>
        {{ post.getContent()[:300] | nl2br }}
        <a class="text-secondary text-decoration-none " href="
            {{ router.url('article', {'id': post.getID(), 'slug': post.getSlug()}) }}">[...]</a>
        <footer class="blockquote-footer text-end pt-3">{{ post.getAuthor() }}, le {{ post.getCreatedAt() | format_date('medium', locale='fr') }}
        {% if post.getCategories() %}
            <hr>
            Catégories associées :
                {% for assocCat in post.getCategories() %}
                    {% if loop.index > 1 %}
                        <span class="fw-light">|</span> 
                    {% endif %}
                   <a href="{{router.url("category", {"id": assocCat.getId(), "slug": assocCat.getSlug()}) }}" class="text-dark text-muted text-decoration-none {{ (assocCat.getName() == category.getName()) ? 'fw-bold' : 'fw-light' }}">{{ assocCat.getName()}}</a>
                {% endfor %}
        {% endif %}
        </footer>
    </div>
</div>