<div class="card shadow p-2 mb-4 bg-white rounded">
    <div class="row">
        <div class="col-12 col-md-2 m-auto">
            <h4 class="card-title text-center m-0"><p class="text-decoration-none text-secondary fw-bold mb-0">
                {{weight.getName}}
            </p></h3>
        </div>
        <div class="col-12 col-md-3 height_crop text-center">
            {% if fighter.getImage() %}
            <a href="{{ router.url('fighter', {'id' : fighter.getID, 'name' : fighter.getName|replace({' ': '-'})|lower}) }}">
                <img src="{{ fighter.getimageURL('medium') }}" alt="{{ fighter.getName }}" loading="lazy">
            </a>
            {% endif %}
        </div>
        <div class="col-12 col-md-4 m-auto text-center">
            <h4>
                {% if fighter.getChamp is same as 1 %}
                    <img src="/img/authors/ufc-belt-small.png" alt="ufc belt" loading="lazy">
                {% endif %}
                <a class="text-dark text-decoration-none text-center fw-bold" href="{{ router.url('fighter', {'id' : fighter.getID(), 'name' : fighter.getName |replace({' ': '-'})|lower}) }}">
                    {{ fighter.getName }}
                </a>
            </h4>
            <p class="text-dark text-center fw-bold mb-0">
                {{ fighter.getWin }} - {{ fighter.getLose }} - {{ fighter.getDraw}} (V - D - N)
            </p>
        </div>
        <div class="col-12 col-md-3 m-auto text-center">
            <a class="text-secondary text-decoration-none fw-bold" href="
                {{ router.url('category_fighter', {'name': weight.getName|lower, 'id': weight.getID, 'sex': fighter.getSex}) }}">Voir les {{ fighter.getSex == 1 ? 'combattants' : 'combattantes'}} de la catégorie {{ weight.getName }}</a>
        </div>
    </div>
</div>

